.Board {
  &__row {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);      
    }

    &--seige:before {
      background-image:url('../public/images/seige.png');
    }

    &--archers:before {
      background-image:url('../public/images/archers.png');
    }

    &--infantry:before {
      background-image:url('../public/images/infantry.png');
    }

    &--disabled {
      background-color: #f5f5f5;
    }
  }
}

// #bbb