.CardInfo {
  text-align: center;
  min-height: 544px;

  &__image {
    // max-width: 100%;
    margin-top: -1px;
    margin-left: -1px;
  }

  &__imageCropper {
    max-height: 411px;
    overflow: hidden;
    border-radius: 20px;
    max-width: 218px;
    margin: 0 auto;
  }

  &__button {
    margin-top: 15px;
  }
}