.Card {
  display: inline-block;
  margin: 4px 3px 0;
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 104px;
  overflow: hidden;
  border-radius: 5px;

}

.Card__image {
  height: 110px;
}

.Card__details {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}