.FirstCol {
  // margin-top: calc(2.5*112px);
  height: 100vh;
  display: flex;
  align-items: center;
}

.ThirdCol {
  // margin-top: calc(0.5*112px);
  height: 100vh;
  display: flex;
  align-items: center;
}

.Spacer {
  min-height: 112px;
}

.game {
  
}