.Total {
    &__row {
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;
        font-size: 40px;
        padding: 0;
        // color: rgba(53, 2, 2, 1);
    }
}
