// #ddd - border-color
// #f5f5f5 - background-color
// #333 - color
$cardHeight: 113px;

.cardHeight {
    min-height: $cardHeight;
}

.border {
    border-bottom: 1px solid #ddd;
}

.app {
    height: 100vh;
    display: flex;
    align-items: center;
}

.character-login {
    .form-control,
    .btn-block {
        margin-bottom: 15px;
    }
}

.match-making {
    .btn-block {
        margin: 5px;
    }
}

// Game Imports
@import "./Game/Game";
@import "./Game/Board";
@import "./Game/Card";
@import "./Game/CardInfo";
@import "./Game/Total";
