.cardHeight {
  min-height: 113px; }

.border {
  border-bottom: 1px solid #ddd; }

.app {
  height: 100vh;
  display: flex;
  align-items: center; }

.character-login .form-control,
.character-login .btn-block {
  margin-bottom: 15px; }

.match-making .btn-block {
  margin: 5px; }

.FirstCol {
  height: 100vh;
  display: flex;
  align-items: center; }

.ThirdCol {
  height: 100vh;
  display: flex;
  align-items: center; }

.Spacer {
  min-height: 112px; }

.Board__row {
  position: relative; }
  .Board__row:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
  .Board__row--seige:before {
    background-image: url("../public/images/seige.png"); }
  .Board__row--archers:before {
    background-image: url("../public/images/archers.png"); }
  .Board__row--infantry:before {
    background-image: url("../public/images/infantry.png"); }
  .Board__row--disabled {
    background-color: #f5f5f5; }

.Card {
  display: inline-block;
  margin: 4px 3px 0;
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 104px;
  overflow: hidden;
  border-radius: 5px; }

.Card__image {
  height: 110px; }

.Card__details {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center; }

.CardInfo {
  text-align: center;
  min-height: 544px; }
  .CardInfo__image {
    margin-top: -1px;
    margin-left: -1px; }
  .CardInfo__imageCropper {
    max-height: 411px;
    overflow: hidden;
    border-radius: 20px;
    max-width: 218px;
    margin: 0 auto; }
  .CardInfo__button {
    margin-top: 15px; }

.Total__row {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  font-size: 40px;
  padding: 0; }
